<div *ngIf="userHistory" class="content">
  <div class="alert alert-danger" role="alert" *ngIf="gettingHistoryFailed" >
    Nie udało się pobrać Twojej historii. Spróbuj zalogować się ponownie. <br/>
    {{errMessege}}
  </div>
  <h2 *ngIf="uuid && uuid.length == 0">
    Twoje zapisane quizy
  </h2>
  <h2 *ngIf="uuid && uuid.length > 0">
    Udostępniony quiz
  </h2>
  <div class="result" *ngFor = "let history of userHistory">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Quiz z dnia {{history.date |  date:'dd.MM.YYYY\, HH:mm'}}
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <button class="results" type="button" (click)="showResults(history)" [routerLink]="'../quiz/' + history.uuid">
          Zobacz wyniki quizu
        </button>
        <button class="copy" type="button" ngxClipboard [cbContent]="publicLink + history.uuid" >
          Kliknij tutaj, aby skopiować link publiczny do tego quizu
        </button>
        <mat-expansion-panel class="inner">
          <mat-expansion-panel-header>
            Lista Twoich pytań i odpowiedzi
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent >
            <div *ngFor="let question of history.quiz.questionsHistory">
              <u>
                {{question.text}}
              </u>
              <div *ngFor="let resp of question.answersForHistory">
                -> {{ resp.text }}
              </div>
            </div>
          </ng-template>
        </mat-expansion-panel>
      </ng-template>
    </mat-expansion-panel>
  </div>
</div>
