<div class="content" *ngIf="waiting">
  <ngx-loading [show]="waiting"></ngx-loading>
</div>
<div class="content" *ngIf="quiz">
  <div class="results" *ngIf="resultsReady == 0">
    <p> Nie znaleziono żadnych dopasowanych grup elementarnych. Możesz rozważyć zwiększenie kwalifikacji. </p>
  </div>
  <div class="results" *ngIf="quiz.questionList.length == 0 && resultsReady == -1">
    <p> Ładujemy Twoje wyniki... </p>
  </div>
  <div id="quiz" *ngIf="quiz.questionList.length > 0">
    <div class="question" >
      <span> {{quiz.questionList[0].text}} </span> <br />
      <span *ngIf="quiz.questionList[0].multipleChoice"> (Możesz wybrać dowolną liczbę odpowiedzi lub brak odpowiedzi) </span>
    </div>
    <div  class="answers" *ngIf="quiz.questionList[0].multipleChoice">
      <div class="answerCheckbox"  *ngFor = "let answer of quiz.questionList[0].answers">
        <label>
          <input type="checkbox" (change)="editCheckboxed($event, answer)"> <span> {{ answer.text }} </span>
        </label>
      </div>
      <input class="navQuestions" id="next" type="button" value="Następne pytanie &raquo;"  (click)="saveManyAnswers()">
    </div>
    <div  class="answers" *ngIf="!quiz.questionList[0].multipleChoice">
      <div class="answer"  *ngFor = "let answer of quiz.questionList[0].answers">
        <input class="answerButton" type="button" value="{{ answer.text }}" (click)="saveOneAnswer(answer)">
      </div>
    </div>
    <input class="navQuestions" id="previous" type="button" value="&laquo;" [disabled]="returned"  (click)="previousQuestion()">
  </div>
  <div class="results" *ngIf="resultsReady == 1">
    <div class="alert alert-success" role="alert" *ngIf="savingHistorySuccesfull" >
      Zapisanie quizu powiodło się! <br/>
      {{savingResponse}}
    </div>
    <div class="alert alert-danger" *ngIf="!savingHistorySuccesfull && !UUID">
      Quiz nie został zapisany. <br/>
      Zaloguj się lub zarejestuj, aby zapisać ten quiz automatycznie.
    </div>
    <h4> Twoje grupy zawodowe </h4>
    <br/>
    <div class="result" *ngFor = "let result of paginatorData">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          {{result.name}}
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <ul>
            <li>
              Kod
            </li>
            <li class="li-value">
              {{result.code}}
            </li>
            <li>
              Synteza
            </li>
            <li class="li-value">
              {{result.synthesis}}
            </li>
            <li *ngIf="result.tasks" >
              Zadania zawodowe
            </li>
            <li *ngIf="result.tasks" class="li-value">
              {{result.tasks}}
            </li>
          </ul>
          <div>
            <a target="_blank" [routerLink]="['/wyszukaj/zawody/', result.code]"> Kliknij tutaj, aby zobaczyć listę dostepnych zawodów (w nowej karcie) </a>
          </div>
          <div>
            <a target="_blank" [routerLink]="['/statystyki/', result.code]"> Kliknij tutaj, aby zobaczyć informacje nt. zarobków i struktury zatrudnienia w tej grupie zawodowej </a>
          </div>
        </ng-template>
      </mat-expansion-panel>
    </div>
    <br/>
    <mat-paginator id="paginator"
                   [length]="results.length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="pageEvent = paginateData($event)">
    </mat-paginator>
  </div>
</div>

<br/> <br/>
