<div class="content">
  <h2>Wyszukiwarka grup zawodowych</h2>
  <div class="md-form">
    <form class="form-inline md-form mr-auto mb-4">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"  [(ngModel)]="searchGroupText" [ngModelOptions]="{standalone: true}" >
      <button class="my-0 waves-light" type="submit" (click)="getGroups()"> Search </button>
    </form>
  </div>
  <div class="results" *ngIf="groups">
    <div class="result" *ngFor="let group of paginatorData">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          {{group.code}} &nbsp; &nbsp; {{group.name}}
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <ul>
            <li>
              {{group.synthesis}}
            </li>
            <li *ngIf="group.tasks">
              {{group.tasks}}
            </li>
            <li>
              <a target="_blank" [routerLink]="['../zawody/', group.code]"> Kliknij tutaj, aby zobaczyć listę dostepnych zawodów (w nowej karcie) </a>
            </li>
            <li>
              <a target="_blank" [routerLink]="['/statystyki/', group.code]"> Kliknij tutaj, aby zobaczyć informacje nt. zarobków i struktury zatrudnienia w tej grupie zawodowej </a>
            </li>
          </ul>
        </ng-template>
      </mat-expansion-panel>
    </div>
    <mat-paginator [length]="groups.length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="pageEvent = paginateData($event)">
    </mat-paginator>
  </div>
  <div  class="results" *ngIf="!groups">
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
  </div>
  <div  class="results" *ngIf="groups && groups.length === 0">
    Lista grup pusta.
  </div>
</div>
