
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <a routerLink="/" routerLinkActive="active">
    <img alt="Logo" src="favicon.ico" ng-href="#" />
  </a>
  <a routerLink="/">
    <h1>Tiara Przydziału</h1>
  </a>
  <div id="placeholder"> </div>
  <span class="search" routerLink="/wyszukaj/grupy">
    <a class="link">Wyszukiwarka grup zawodowych</a>
  </span>
  <span class="search" routerLink="/wyszukaj/zawody">
    <a class="link">Wyszukiwarka zawodów</a>
  </span>
  <span class="search" *ngIf="isLoggedIn" class="search" routerLink="/historia">
    <a class="link">Zapisane quizy</a>
  </span>
  <a href="/zarejestruj" class="register" *ngIf="!isLoggedIn" routerLink="zarejestruj">Zarejestruj się</a>
  <a href="/zaloguj" class="login" routerLink="zaloguj" *ngIf="!isLoggedIn">Zaloguj się</a>

  <ul class="navbar-nav ml-auto" id="accountNav" *ngIf="isLoggedIn">
    <li class="nav-item">
      <a href="/profile" class="nav-link" id="profile" routerLink="profile">{{ username.split(' ')[0]}}</a>
    </li>
    <li class="nav-item">
      <a href class="nav-link" id="logout" (click)="logout()">Wyloguj się</a>
    </li>
  </ul>
</div>


<!-- Content -->
<main class="content">
    <router-outlet></router-outlet>
</main>


<!-- Footer -->
<footer>
  <svg viewBox="0 0 120 20">
    <defs>
      <filter id="goo">
        <feGaussianBlur in="SourceGraphic" stdDeviation="1" result="blur" />
        <feColorMatrix in="blur" values="
           1 0 0 0 0
           0 1 0 0 0
           0 0 1 0 0
           0 0 0 13 -9" result="goo" />
      </filter>
      <path id="wave" d="M0 10C30 10 30 15 60 15C90 15 90 10 120 10C150 10 150 15 180 15C210 15 210 10 240 10C270 10 270 15 300 15C330 15 330 10 360 10v13h-360z" />
    </defs>
    <use id="wave3" class="wave" xlink:href="#wave" x="-10" y="-2" ></use>
    <use id="wave2" class="wave" xlink:href="#wave" x="-10" y="0" ></use>
    <use id="wave1" class="wave" xlink:href="#wave" x="-40" y="2" ></use>
  </svg>
  <div>
    <a href="#"> &copy;U mnie działa </a>
  </div>
</footer>
