<div class="main">
  <div class="slogan">
    <h2>
      Rozwiąż Quiz i odkryj swoje możliwości!
    </h2>
  </div>
  <div class="quizButton">
    <input type="button" class="button" [routerLink]="'quiz'"  value="Rozpocznij Quiz" />
  </div>
  <div class="content">
    <p>
      Tiara przydziału to aplikacja doradztwa zawodowego dla osób wchodzących na rynek pracy, w szczególności
      uczniów szkół średnich i podstawowych. Nie wiesz co chciałbyś robić w przyszłości? Ta aplikacja jest dla Ciebie!
      <br/>
      Dzięki naszej aplikacji możesz zapoznać się z blisko 500 ścieżkami kariery, zawierającymi ok. 2500 zawodów!
    </p>
    <blockquote class="blockquote"> Jak to działa? </blockquote>
    <p>
      Na podstawie odpowiedzi użytkownika na wcześniej zadane pytania nasz algorytm selekcjonuje grupy zawodowe
      zawarte w Klasyfikacji Zawodów i Specjalności prowadzonej przez Ministerstwo Rozwoju, Pracy i Technologii.
    </p>
    <blockquote class="blockquote"> Ale to nie wszystko! </blockquote>
    <p>
      Po rozwiązaniu quizu możesz zapoznać się z listą zawodów wyselekcjonowanych dla Ciebie, zapoznać się ze
      średnimi zarobkami, a także udziału zawodu w rynku. Informacje pochodzą z Głównego Urzędu Statystycznego. <br/>
      Chciałbyś zapoznać się z informacjami nt. konkretnego zawodu bez przechodzenia przez quiz? Skorzystaj z
      jednej z wyszukiwarek dostępnych w górnej cześci strony. Znajdziesz tam jeszcze więcej informacji nt. wymarzonego
      zawodu. <br/>
      Jeżeli masz taką potrzebę możesz zapisać wyniki swojego quizu na później. W tym celu zaloguj się
      i przejdź do zakładki "Historia quizów". Znajdziesz tam wszystkie swoje podejścia wraz z listą kroków, wynikami,
      a także linkiem do udostępnienia quizu znajomym nieposiadającym konta. <br/>
      Sprawdź sam co jeszcze ma dla Ciebie do zaoferowania Tiara Przydziału!
    </p>
  </div>
</div>

