.main {
  display: grid;
  column-gap: 20px;
  row-gap: 0;
  grid-template-areas:
    "slogan slogan . button ."
    "content content content content content";
}

.slogan {
  grid-area: slogan;
}

.quizButton {
  grid-area: button;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: var(--deepblue);
  border: none;
  color: white;
  padding: 15% 15%;
  text-align: center;
  text-decoration: none;
  font-size: larger;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button:hover {
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24),0 8px 8px 0 rgba(0,0,0,0.19);
  background-color: #446ce3;
}

.content {
  display: flex;
  max-width: 960px;
  flex-direction: column;
  align-items: center;

  grid-area: content;
}


a,
a:visited,
a:hover {
  text-decoration: none;
}

a:hover {
}


footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}


/* Responsive Styles */
@media screen and (max-width: 767px) {

}

@media screen and (max-width: 575px) {

}
