<div class="main">
  <div class="slogan">
    <h1>
      Rozwiąż Quiz i odkryj swoje możliwości!
    </h1>
  </div>
  <div class="quizButton">
    <input type="button" class="button" [routerLink]="'quiz'"  value="Rozpocznij Quiz" />
  </div>
  <div class="content">
    <p>
      <b> Tiara przydziału </b> to aplikacja doradztwa zawodowego dla uczniów szkół średnich i
      podstawowych.
      <br/>
      Dzięki naszej aplikacji uczniowie mogą zapoznać się z setkami ścieżek kariery, zawierającymi tysiące
      możliwych zawodów!
    </p>
    <p>
    <blockquote class="blockquote"><b>Jak to działa?</b></blockquote>
    Na podstawie odpowiedzi użytkownika na wcześniej zadane pytania nasz algorytm selekcjonuje grupy zawody
    zawarte w Klasyfikacji Zawodów i Specjalności
    prowadzonej przez Ministerstwo Rozwoju, Pracy i Technologii.
    </p>
  </div>
</div>

