<div class="content">
  <h2>Wyszukiwarka zawodów</h2>
  <span class="letter"  *ngFor="let letter of lettersToUse"
        [routerLink]="['/wyszukaj/zawody/', letter]" (click)="getProffesions(letter)"> {{letter}}
  </span>
  <div class="md-form">
    <form class="form-inline md-form mr-auto mb-4">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"  [(ngModel)]="searchProffesionText" [ngModelOptions]="{standalone: true}" >
      <button class="my-0 waves-light" type="submit" (click)="postProffesions()"> Search </button>
    </form>
  </div>
  <div  class="results" *ngIf="professions">
    <div class="result" *ngFor="let profession of professions">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          {{profession.name}}
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <ul>
            <li>
              {{profession.code}}
            </li>
            <li>
              {{profession.synthesis}}
            </li>
            <li *ngIf="profession.tasks">
              {{profession.tasks}}
            </li>
            <li *ngIf="profession.additionalTasks">
              {{profession.additionalTasks}}
            </li>
          </ul>
        </ng-template>
      </mat-expansion-panel>
    </div>
  </div>
  <div  class="results" *ngIf="!professions">
    Oczekiwanie...
  </div>
  <div  class="results" *ngIf="professions && professions.length === 0">
    Lista zawodów pusta.
  </div>
</div>
