<div class="content">
  <h2>Wyszukiwarka zawodów</h2>
  <span class="letter"  *ngFor="let letter of lettersToUse"
        [routerLink]="['/wyszukaj/zawody/', letter]" (click)="getProffesions(letter)"> {{letter}}
  </span>
  <div class="md-form">
    <form class="form-inline md-form mr-auto mb-4">
      <input class="form-control mr-sm-2" id="phrase" type="text" placeholder="Nazwa/Kod zawodu" aria-label="Search"  [(ngModel)]="searchProffesionText" [ngModelOptions]="{standalone: true}" >
      <button class="my-0 waves-light" type="submit" (click)="postProffesions()"> Szukaj </button>
    </form>
  </div>
  <div  class="results" *ngIf="professions">
    <div class="result" *ngFor="let profession of paginatorData">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          {{profession.name}}
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <ul>
            <li>
              Kod zawodu
            </li>
            <li class="li-value">
              {{profession.code}}
            </li>
            <li>
              Synteza
            </li>
            <li class="li-value">
              {{profession.synthesis}}
            </li>
            <li *ngIf="profession.tasks">
              Zadania zawodowe
            </li>
            <li *ngIf="profession.tasks" class="li-value">
              {{profession.tasks}}
            </li>
            <li *ngIf="profession.additionalTasks">
              Dodatkowe zadania
            </li>
            <li *ngIf="profession.additionalTasks" class="li-value">
              {{profession.additionalTasks}}
            </li>
          </ul>
          <a class="links" target="_blank" [routerLink]="['/statystyki/', profession.code]"> Kliknij tutaj, aby zobaczyć informacje nt. zarobków i struktury zatrudnienia w tej grupie zawodowej </a>
        </ng-template>
      </mat-expansion-panel>
    </div>
    <br/>
    <mat-paginator id="paginator"
                    [length]="professions.length"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="pageSizeOptions"
                    (page)="pageEvent = paginateData($event)">
    </mat-paginator>
  </div>
  <div  class="results" *ngIf="!professions">
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
  </div>
  <div  class="results" *ngIf="professions && professions.length === 0">
    Lista zawodów pusta.
  </div>
</div>
