<div class="content">
  <h2> Dane o zarobkach i zatrudnieniu </h2>
  <span *ngIf="militaryGroup">
    <br/> <br/>
    Główny Urząd Statystyczny nie publikuje informacji o strukturze zatrudnienia i zarobkach w Służbach Wojskowych.
    Więcej informacji nt. zawodowej służby wojskowej znajdziesz tutaj:
    <a href="https://www.wojsko-polskie.pl/uprawnienia-i-swiadczenia-zolnierzy-zawodowych/">
      https://www.wojsko-polskie.pl/uprawnienia-i-swiadczenia-zolnierzy-zawodowych/
    </a>
  </span>

  <h4 *ngIf="!loading && getSuccess && statistics" > {{searchingProffession}} &nbsp; &nbsp; {{statistics.professionName}}  </h4>
  <div class="alert alert-danger" role="alert" *ngIf="!loading && !getSuccess" >
    {{error}}
  </div>
  <div class="statistics" *ngIf="!loading && getSuccess && statistics" >
    <div class="group" *ngFor="let group of statistics.statisticsForGroups">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          {{group.groupCodeId}} &nbsp; &nbsp; {{group.groupCodeName}}
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <ul class="table">
            <li class="name">
              Liczba zatrudnionych
            </li>
            <li class="name li-value">
              {{group.employmentAll}} tysięcy
            </li>
            <li class="name">
              Liczba zatrudnionych mężczyzn
            </li>
            <li class="name li-value">
              {{group.employmentMen}} tysięcy
            </li>
            <li class="name">
              Liczba zatrudnionych kobiet
            </li>
            <li class="name li-value">
              {{group.employmentWomen}} tysięcy
            </li>
            <li class="name">
              Ilość zatrudnionych osób w stosunku do wszystkich osób pracujących w Polsce
            </li>
            <li class="name li-value">
              {{group.percentOfEmploymentAll}}%
            </li>
            <li class="name">
              Ilość zatrudnionych osób w stosunku do wszystkich osób zatrudnionych w tej gałęzi rynku (grupy jednocyfrowej)
            </li>
            <li class="name li-value">
              {{group.percentOfEmploymentForGroup1}}%
            </li>
            <li class="name">
              Średnie zarobki brutto w tej grupie
            </li>
            <li class="name li-value">
              {{group.salaryAll}} zł/miesiąc
            </li>
            <li class="name">
              Średnie zarobki brutto mężczyzn w tej grupie
            </li>
            <li class="name li-value">
              {{group.salaryMen}} zł/miesiąc
            </li>
            <li class="name">
              Średnie zarobki brutto kobiet w tej grupie
            </li>
            <li class="name li-value">
              {{group.salaryWomen}} zł/miesiąc
            </li>
          </ul>
        </ng-template>
      </mat-expansion-panel>
    </div>
    <br />
    <div id="desc">
      <p>
        Powyższe dane stosują oznaczenie grup zawodowych zgodnie z
        <a href="http://www.klasyfikacje.gofin.pl/kzis/6,0.html">
          Klasyfikacją Zawodów i Specjalności na potrzeby rynku pracy.
        </a>
        Odpowiednio grupy wielke (1. cyfrowe), duże (2. cyfrowe) i średnie (3. cyfrowe) zawierają się kolejno. <br/>
        Zawarte informacje pochodzą z października 2018r. i zostały
        <a href="https://stat.gov.pl/obszary-tematyczne/rynek-pracy/pracujacy-zatrudnieni-wynagrodzenia-koszty-pracy/
        struktura-wynagrodzen-wedlug-zawodow-w-pazdzierniku-2018-roku,4,9.html">
          udostępnione przez Główny Urząd Statystyczny
        </a>
        (tabela 4 i 5).
      </p>
      <p>
        Tabele przedstawiają następujące informacje odpowiedno dla danych grup:
      </p>
      <ul>
        <li>
          średnie zarobki brutto (osobno dla wszystkich pracowników, kobiet oraz mężczyzn)
        </li>
        <li>
          informacje na temat ilości osób zatrudnionych w grupie
        </li>
        <li>
          stosunek ilości osób zatrudnionych względem wszystkich osób pracujących w Polsce
        </li>
        <li>
          stosunek ilości osób zatrudnionych w grupie względem grupy 1. cyfrowej
        </li>
      </ul>
      <p>
        Procentowe zatrudnienie pochodzi z obliczeń własnych i jest zaokrąglone do pierwszego miejsca po przecinku:
      </p>
      <ul>
        <li>
          Procentowe zatrudnienie względem sumy zatrudnionych (zatrudnienie ogółu * 100 / ilość osob zatrudnionych w Polsce)
        </li>
        <li>
          Procentowe zatrudninie względem gupy wielkiej (zatrudnienie ogółu * 100 / ilość osob zatrudnionych w odpowiadajacej wielkiej grupie)
        </li>
      </ul>
    </div>
  </div>
  <div class="lds-ring" *ngIf="loading" ><div></div><div></div><div></div><div></div></div>
</div>
